<!-- Header -->

<header class="p-1 border-bottom">
    <div id="logo">
      <a href=""> <img src= "..//src/assets/logo1.png"></a> 
      </div>
      <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="https://facebook.com" class="nav-link px-2 link-dark">Facebook</a></li>
          <li><a href="https://instagram.com" class="nav-link px-2 link-dark">Instagram</a></li>
          <li><a href="https://twitter.com" class="nav-link px-2 link-dark">Twitter</a></li>
          <li><a href="https://youtube.com" class="nav-link px-2 link-dark">YouTube</a></li>
        </ul>
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>
        </div>
      </div>
  </header>
