<!-- Header -->

  <app-header></app-header>

<!-- Navigation Bar -->
  <nav class="navbar navbar-expand-lg navbar-dark" aria-label="Tenth navbar example">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08" 
      aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Naslovna</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/proizvodi">Proizvodi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/kontakt">Kontakt</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<!-- Left Sidebar -->
<div class="wrapper row">
  <nav class="col-md-2 sidebar-left">
    <h3 class="sidebar-naslov text-center">Članovi tima</h3>
    <div><ul class="nav nav-sidebar"><br>
      <li class="active"><img class="rounded-circle" src="..//src/assets/izudinbektic.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2 class="text-center">Osnivač</h2>
        <p class="team text-center">Izudin Bektić</p></li>
      <li><img class="rounded-circle" src="..//src/assets/amar.jpeg" alt="Generic placeholder image" width="140" height="140">
        <h2 class="text-center">Direktor (CEO)</h2>
        <p class="team text-center">Amar Duraković</p></li>
      <li><img class="rounded-circle" src="..//src/assets/selma.jpeg" alt="Generic placeholder image" width="140" height="140">
        <h2 class="text-center">Voditelj marketinga</h2>
        <p class="team text-center">Selma Kovačević</p></li>
      <li><img class="rounded-circle" src="..//src/assets/mirza.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2 class="text-center">Financijski analitičar</h2>
        <p class="team text-center">Mirza Suljić</p></li>
  </ul></div>
  </nav>

<!-- Start of Main -->
    <main class="col-md-7 main">
      <div>

          <br>
        <app-discount></app-discount>
    <hr class="featurette-divider">
        <app-new-products></app-new-products>
    <hr class="featurette-divider">
        <app-coupons></app-coupons>
    <hr class="featurette-divider">
        <!-- Contact Us Form -->
<section>
        <app-contact-form></app-contact-form>
        </section>
      </div>
    </main>

    <!-- Right Sidebar -->
    <nav class="col-md-3 sidebar-right">
      <div><ul class="nav nav-sidebar">
        <iframe width="380" height="315" src="https://www.youtube.com/embed/IVvNyJTNDZc?si=OGT04E5L5pjZogVi" title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <br>
        <br>
        <br>
        <div class="partner">
          <h3 class="sidebar-naslov">Naši pouzdani partneri</h3>
          <br>
          <h3><a href="https://www.techconnectcorp.com">TechConnect Corporation</a></h3>
          <p>TechConnect Corporation je naš dugogodišnji partner u području laptopa. Suradjujemo već 7 godina i zajedno donosimo najnovije inovacije i visokokvalitetne laptop računare našim kupcima.</p>
      </div>
      <div class="partner">
          <h3><a href="https://www.smarttabsolutionsltd.com/">SmartTab Solutions Ltd.</a></h3>
          <p>SmartTab Solutions Ltd. je naš partner za tablete i pametne uređaje. Imamo uspješnu suradnju s njima u prodaji raznovrsnih tableta koji su prilagođeni različitim potrebama naših korisnika.</p>
      </div>
      <div class="partner">
          <h3><a href="https://www.mobiletechinnovationsinc.com">MobileTech Innovations Inc.</a></h3>
          <p>MobileTech Innovations Inc. je naš pouzdan partner u području mobilnih uređaja, posebno iPhone telefona. Radimo zajedno na osiguranju najnovijih iPhone modela i tehnoloških inovacija za naše kupce.</p>
      </div>
    </ul></div>
    </nav>
  </div>
  <br>
<footer>Dizajnirao: Izudin Bektić
  2023. godina
</footer>