<!-- Header -->
  <header class="p-1 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="https://facebook.com" class="nav-link px-2 link-dark">Facebook</a></li>
          <li><a href="https://instagram.com" class="nav-link px-2 link-dark">Instagram</a></li>
          <li><a href="https://twitter.com" class="nav-link px-2 link-dark">Twitter</a></li>
          <li><a href="https://youtube.com" class="nav-link px-2 link-dark">YouTube</a></li>
        </ul>
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>
        </div>
      </div>
  </header>

<!-- Navigation Bar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Tenth navbar example">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08" 
      aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/products">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<!-- Left Sidebar -->
<div class="wrapper row">
  <nav class="col-md-2 sidebar-left">
    <div><ul class="nav nav-sidebar">
      <li class="active"><img class="rounded-circle" src="..//src/assets/apple-iphone-smartphone-desk.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2 class="text-center">Founder</h2>
        <p class="text-center">Izudin Bektić</p></li>
      <li><img class="rounded-circle" src="..//src/assets/apple-iphone-smartphone-desk.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2 class="text-center">Founder</h2>
        <p class="text-center">Izudin Bektić</p></li>
      <li><img class="rounded-circle" src="..//src/assets/apple-iphone-smartphone-desk.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2 class="text-center">Founder</h2>
        <p class="text-center">Izudin Bektić</p></li>
      <li><img class="rounded-circle" src="..//src/assets/apple-iphone-smartphone-desk.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2 class="text-center">Founder</h2>
        <p class="text-center">Izudin Bektić</p></li>
  </ul></div>
  </nav>

<!-- Start of Main -->
    <main class="col-md-7 main">
      <div>
  
<hr class="featurette-divider">
  
<div class="container marketing">
  <div class="row">
    <div class="col-lg-4">
      <img class="rounded" src="..//src/assets/free_shipping.jpg" alt="Laptops" width="145" height="145">
      <h3>Free shipping coupon</h3>
      <p>🛍️ Enjoy the convenience of free shipping with our exclusive coupon! Shop your favorite products and have them delivered to your doorstep without any extra cost. Don't miss out on this limited-time offer to save on shipping fees and get your items hassle-free. 🛍️.</p>
      <p><a class="btn btn-secondary" href="/products" role="button">View details »</a></p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="rounded" src="..//src/assets/50.jpg" alt="Tablets" width="140" height="140">
      <h3>Summer Sale: 50% OFF on everything!</h3>
      <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
      <p><a class="btn btn-secondary" href="/products" role="button">View details »</a></p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="rounded" src="..//src/assets/50.jpg" alt="Iphones" width="140" height="140">
      <h2>Iphones</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn btn-secondary" href="/products" role="button">View details »</a></p>
    </div>
  </div>
  <hr class="featurette-divider">
</div>
        <div class="container marketing">
          <div class="row">
            <div class="col-lg-4">
              <img class="rounded" src="..//src/assets/laptop.jpg" alt="Laptops" width="145" height="145">
              <h3>Laptops</h3>
              <p>🛍️ Don't miss our Summer Sale! Enjoy a limited-time 50% discount on all laptops. It's your chance to own cutting-edge technology without breaking the bank. Shop now and redefine what's possible! 🛍️.</p>
              <p><a class="btn btn-secondary" href="/products" role="button">View details »</a></p>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img class="rounded" src="..//src/assets/tablet4.png" alt="Tablets" width="140" height="140">
              <h3>Tablets</h3>
              <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
              <p><a class="btn btn-secondary" href="/products" role="button">View details »</a></p>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img class="rounded" src="..//src/assets/iphones.jpg" alt="Iphones" width="140" height="140">
              <h2>Iphones</h2>
              <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
              <p><a class="btn btn-secondary" href="/products" role="button">View details »</a></p>
            </div>
          </div>
          <hr class="featurette-divider">
        </div>
      </div>
    
    </main>

    <!-- Right Sidebar -->
    <nav class="col-md-3 sidebar-right">
      <div><ul class="nav nav-sidebar">

        <iframe width="380" height="315" src="https://www.youtube.com/embed/IVvNyJTNDZc?si=OGT04E5L5pjZogVi" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

        <li class="active"><a href="#">Overview</a></li>
        <li><a href="#">Reports</a></li>
        <li><a href="#">Analytics</a></li>
        <li><a href="#">Export</a></li>
    </ul></div>
    </nav>
  </div>
