<!-- Header -->

  <app-header></app-header>

<!-- Navigation Bar -->
  <nav class="navbar navbar-expand-lg navbar-dark" aria-label="Tenth navbar example">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08" 
      aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Naslovna</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/products">Proizvodi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Kontakt</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<!-- Left Sidebar -->
<div class="wrapper row">
  <nav class="col-md-2 sidebar-left">
    <div><ul class="nav nav-sidebar">
      <li class="active"><img class="rounded-circle" src="..//src/assets/apple-iphone-smartphone-desk.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2 class="text-center">Founder</h2>
        <p class="text-center">Izudin Bektić</p></li>
      <li><img class="rounded-circle" src="..//src/assets/apple-iphone-smartphone-desk.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2 class="text-center">Founder</h2>
        <p class="text-center">Izudin Bektić</p></li>
      <li><img class="rounded-circle" src="..//src/assets/apple-iphone-smartphone-desk.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2 class="text-center">Founder</h2>
        <p class="text-center">Izudin Bektić</p></li>
      <li><img class="rounded-circle" src="..//src/assets/apple-iphone-smartphone-desk.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2 class="text-center">Founder</h2>
        <p class="text-center">Izudin Bektić</p></li>
  </ul></div>
  </nav>

<!-- Start of Main -->
    <main class="col-md-7 main">
      <div>

          <br>
        
<div class="container">
  <h4>Proizvodi na popustu</h4>
  <div class="card-columns">
    <div class="card" *ngFor="let discount of discounts">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img [src]="discount.imagePath" class="card-img-top small-image" alt="{{ discount.name }}">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ discount.name }}</h5>
            <p class="card-text">{{ discount.description }}</p>
            <p class="card-text">
              <div class="old-price" [ngStyle]="{'text-decoration': discount.discountPercent > 0 ? 'line-through' : 'none'}">
                Cijena: {{ discount.price }} KM
              </div>
              <div class="new-price" *ngIf="discount.discountPercent > 0">Nova cijena: {{ discount.discountedPrice }} KM</div>
            
            <div class="discount" *ngIf="discount.discountPercent > 0">
              Popust: <span [ngStyle]="{'color': 'green'}">{{ discount.discountPercent }}%</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr class="featurette-divider">
        <!-- Contact Us Form -->
<section>
        <app-contact-form></app-contact-form>
        </section>

      </div>
    </main>

    <!-- Right Sidebar -->
    <nav class="col-md-3 sidebar-right">
      <div><ul class="nav nav-sidebar">

        <iframe width="380" height="315" src="https://www.youtube.com/embed/IVvNyJTNDZc?si=OGT04E5L5pjZogVi" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

        <li class="active"><a href="#">Overview</a></li>
        <li><a href="#">Reports</a></li>
        <li><a href="#">Analytics</a></li>
        <li><a href="#">Export</a></li>
    </ul></div>
    </nav>
  </div>
<footer>Dizajnirao: Izudin Bektić
  2023. godina
</footer>